html
    head 
        title="Ecommerce server config"
    body 
        h1='Server Information'
        p='PID: ' + objeto.pid
        p='CWD: ' + objeto.cwd 
        p='VERSION: ' + objeto.version
        p='TITLE: ' + objeto.title
        p='PLATFORM: ' +  objeto.platform 
        p='PROCESORS: ' +  objeto.procesadores
        p='PORT: ' +  objeto.puerto 
        p='MEMORY: ' + objeto.memory