<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/api/productos">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Products</li>
    </ol>
</nav>
{{#if products}}

<div class="row">
    {{#each products}}
    <div class="col">
        <div class="product-card" id="{{_id}}">
            <div class="badge">Hot</div>
            <div class="product-tumb">
                <img src="{{foto}}" alt="">
            </div>
            <div class="product-details">
                <span class="product-catagory">Algo</span>
                <h4><a href="/api/productos/{{_id}}">{{nombre}}</a></h4>
                <p>{{descripcion}}</p>
                <div class="product-bottom-details">
                    <div class="product-price"><small>250</small>{{precio}}</div>
                    <div class="product-links">
                        <a href=""><i class="fa fa-heart"></i></a>
                        <a href="/api/productos/{{_id}}"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>


{{else}}
<h4>No hay productos por aca</h4>
{{/if}}